<!-- Search functionality -->
<nav class="navbar navbar-light justify-content-center mt-4">
    <form class="form-inline">
        <button type="button" class="btn btn-primary btn-lg mr-3" id="btnSort">Sort</button>
        <button type="button" class="btn btn-primary btn-lg mr-3" id="btnSort1">Sort</button>
        <button type="button" class="btn btn-primary btn-lg mr-3" id="btnSort2">Sort</button>

        
        <input class="form-control form-control-lg mr-sm-2" type="search" placeholder="Type a name" aria-label="Search" id="search">
        <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
    </form>
</nav>

<!-- Cards -->
<div class="layout-margin-8 mt-4">
    <div class="card-deck">
        <div class="card card-shadow text-center">
            <div class="card-body">
                <h4 class="card-title">Rob Doe</h4>
                <p class="card-text">UX Designer</p>
                <div class="dropdown-divider"></div>
                <p class="card-text"><small class="text-muted">Team A</small></p>
                <a href="#">
                    <button type="button" class="btn btn-outline-primary">Email</button>
                </a>
            </div>
        </div>
        <div class="card card-shadow text-center">
            <div class="card-body">
                <h4 class="card-title">Scott Doe</h4>
                <p class="card-text">UX Designer</p>
                <div class="dropdown-divider"></div>
                <p class="card-text"><small class="text-muted">Team B</small></p>
                <a href="#">
                    <button type="button" class="btn btn-outline-primary">Email</button>
                </a>
            </div>
        </div>
        <div class="card card-shadow text-center">
            <div class="card-body">
                <h4 class="card-title">John Doe Vasile</h4>
                <p class="card-text">Product Designer</p>
                <div class="dropdown-divider"></div>
                <p class="card-text"><small class="text-muted">Team C</small></p>
                <a href="#">
                    <button type="button" class="btn btn-outline-primary">Email</button>
                </a>
            </div>
        </div>
    </div>
</div>