<div class=" text-center" style="background-color: #003580;">
    <br><br><br>
    <div class="section-heading">
        <h2 style="color: white;">Why Felucca?</h2>
        <i class="fa fa-2x fa-angle-down" style="color: white;"></i>

      </div>
    <div class="row">
        <div class="col text-center">
            <span class="dot text-center"><br>
                <i class="fas fa-hard-hat text-center" style="font-size: 70px; color:white;"></i>
            </span>
            <br><br>
            <h5 style="color: white;">safety</h5>
            <h6 style="color: white;">Be safe as we have all information about your river trip</h6>


        </div>
        <div class="col text-center">
            <span class="dot text-center"><br>
                <i class="fas fa-hard-hat text-center" style="font-size: 70px; color:white;"></i>
            </span>
            <br><br>
            <h5 style="color: white;">safety</h5>
            <h6 style="color: white;">Be safe as we have all information about your river trip</h6>


        </div>
        <div class="col text-center">
            <span class="dot text-center"><br>
                <i class="fas fa-hard-hat text-center" style="font-size: 70px; color:white;"></i>
            </span>
            <br><br>
            <h5 style="color: white;">safety</h5>
            <h6 style="color: white;">Be safe as we have all information about your river trip</h6>


        </div>
        <div class="col text-center">
            <span class="dot text-center"><br>
                <i class="fas fa-hard-hat text-center" style="font-size: 70px; color:white;"></i>
            </span>
            <br><br>
            <h5 style="color: white;">safety</h5>
            <h6 style="color: white;">Be safe as we have all information about your river trip</h6>


        </div>
      
    </div>
</div>