
<br><br><br>

<div class="container mt-3">
    <h2>Admin DashBoard</h2>
    <br>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#Destinations">Destinations</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#Cities">Cities</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#Users">Users</a>
      </li>
      
    </ul>
  
    <!-- Tab panes -->
    <div class="tab-content">
      <div id="Destinations" class="container tab-pane active"><br>
        <app-admin-destination></app-admin-destination>
      </div>
      <div id="Cities" class="container tab-pane fade"><br>
        <h3>Menu 1</h3>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
      <div id="Users" class="container tab-pane fade"><br>
        <app-person-list></app-person-list>
      </div>
    </div>
  </div>
